.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Verdana", serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* Estilo general para la lista de productos */
#lproduct {
  padding-bottom: 2rem; /* Espacio inferior */
}

/* Estilo para pantallas estándar (1366 x 768 px) */
@media (min-width: 1366px) {
  .list-group-item {
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  img {
    height: 100px; /* Aumentar tamaño de imagen */
  }
}

/* Estilo para tabletas en modo vertical (768 x 1024 px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .list-group-item {
    flex-direction: column; /* Cambiar a columna */
    align-items: flex-start; /* Alinear a la izquierda */
    padding: 1rem;
    margin-bottom: 1rem;
  }
  img {
    height: 80px; /* Ajustar tamaño de imagen */
  }
  h5 {
    font-size: 1.2rem; /* Ajustar tamaño de fuente */
  }
}

/* Estilos generales */
.product-item {
  display: flex; /* Disposición por defecto para pantallas grandes */
  align-items: center; /* Alinear verticalmente */
}

/* Estilo para pantallas de 320 x 568 px o menos */
@media (max-width: 320px) {
  .list-group-item {
    display: block; /* Cambiar a bloque para que ocupe todo el ancho */
    text-align: center; /* Centrar el texto */
  }

  .d-flex {
    flex-direction: column; /* Cambiar la dirección de los elementos a columna */
    align-items: center; /* Alinear elementos al centro */
  }

  img {
    height: 10rem !important; /* Mantener el tamaño de la imagen */
    margin-bottom: 0.5rem; /* Espacio entre imagen y título */
    display: block; /* Asegurarse de que la imagen sea un bloque */
    margin-left: auto; /* Centrar imagen */
    margin-right: auto; /* Centrar imagen */
  }

  h5.mb-1 {
    margin-bottom: 0.25rem; /* Espacio entre título y descripción */
  }

  p.mb-1 {
    margin-bottom: 0.25rem; /* Espacio entre descripción y precio */
  }

  /* Asegurarse que el precio esté bien alineado */
  h5 {
    margin-top: 0.5rem; /* Espacio encima del precio */
  }

  .me-3 {
    margin-right: auto !important;
  }
}
